body{
    background-color: rgb(233, 229, 216);
    font-size: 30px;
    font-family: tahoma;
    margin: 0%;
    padding: 0%;
}
p{
    margin: -2px 2px;
    padding: 0 0 0 10px;
    border-radius: 5px;
}

.b{
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding: 5px 20px;
    font-family: fantasy;
    margin: 2px 2px;
}
.h{
    background-color: rgb(215, 162, 131);
    border: none;
    margin: 15px -5px;
    width: 100%;
    height: 30px;
}
.b:hover{background-color: rgb(212, 2, 2);}
.b:active{background-color: rgb(253, 19, 19);}

.f{background-color: beige;}
img{
    float: left;
    margin: 0 20px 0 0;
} 
a{text-decoration: none;}

